@charset "utf-8";
*{ margin:0; padding:0; }
body{
	background:url(login.jpeg) no-repeat center center fixed;
	background-size:cover; }

.contaner{ color:#FFF; position:absolute; top:20%; left:27%; }
.contaner h1{ display:inline-block; font-size:45px;
	border-bottom:6px solid #FF9; margin-bottom:10px; padding:13px 0; }
.box{ width:150%;  border-bottom:2px solid #FF9; margin:32px 0px; }
.box input{ background:none; width:75%; padding:5px 8px;
	font-size:20px; border:none; outline:none; color:#FFF; }

.b1{ cursor:pointer; outline:#FFF; width:45%;
	margin:12px 12px; padding:2%; border-radius:17px;
	border-color:2px solid #FFF; font-size:18px;
	background:none; color:#FFF; font-weight:bold; }
 
.b1:hover{ color:#FF6; background:#999; }