@charset "utf-8";
.a1{
	margin-left:15%;
	margin-top:3%;
}

.a2{
	color:#F00;
	font-family:"Times New Roman", Times, serif;
	border-bottom:6px solid #FC0;
	margin-left:10%;
	margin-top:10%;
}

.e2{
	cursor:pointer;
	outline:none;
	width:18%;
	margin:10px 10px;
	padding:5px;
	border-radius:20px;
	border-color:#F00;
	font-size:20px;
	font-weight:bold;
	color:#F00;
	left:55%;
	
}
.e2:hover{
	color:#F00;
	background:#FC0
}

.download{
	cursor:pointer;
	outline:none;
	width:18%;
	margin:10px 10px;
	padding:5px;
	border-radius:20px;
	border-color:#F00;
	font-size:20px;
	font-weight:bold;
	color:#F00;
	left:55%;
	
}
.download:hover{
	color:#F00;
	background:#FC0
}

.exit{
	cursor:pointer;
	outline:none;
	width:18%;
	margin:10px 10px;
	padding:5px;
	border-radius:20px;
	border-color:#F00;
	font-size:20px;
	font-weight:bold;
	color:#F00;
	left:55%;
	
}
.exit:hover{
	color:#F00;
	background:#FC0
}